.gitignore export-ignore
LICENSE export-ignore
README.md export-ignore
.gitattributes export-ignore
eve-srpmail.sublime-project export-ignore
message_ui.png export-ignore
sftp-config.json export-ignore