<?php
$scope = [];

$provider = new jbs1\OAuth2\Client\Provider\EveOnline([
    'clientId'                => 'demoapp',    // The client ID assigned to you by the provider
    'clientSecret'            => 'demopass',   // The client password assigned to you by the provider
    'redirectUri'             => 'http://example.com/your-redirect-url/',
]);
?>